

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - English College</title>*@
    <title>English College</title>

    <!-- Custom fonts for this template-->
    <link href="/Content/theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    @*@Scripts.Render("~/Theme/vendor/fontawesome-free/css/all.min.css")*@
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/theme/css/sb-admin-2.min.css" rel="stylesheet">
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="~/Home/Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">English College</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Nav Item - ESTUDIANTES -->
            <!-- Nav Item - MENU ESTUDIANTES -->
            <li class="nav-item">
                <a class="nav-link" href="~/Estudiante/Index">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Estudiantes</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>



        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">




                    <!-- Content Row -->
                    <div class="row">

                        <div class="container body-content">

                            @RenderBody()

                        </div>
                        @RenderSection("scripts", required: false)

                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@

    @*@RenderSection("scripts", required: false)*@
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/theme/vendor/jquery/jquery.min.js"></script>
    @*@Scripts.Render("~/theme/vendor/jquery/jquery.min.js")*@
    <script src="~/Content/theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    @*@Scripts.Render("~/theme/vendor/bootstrap/js/bootstrap.bundle.min.js")*@

    <!-- Core plugin JavaScript-->
    <script src="~/Content/theme/vendor/jquery-easing/jquery.easing.min.js"></script>
    @*@Scripts.Render("~/theme/vendor/jquery-easing/jquery.easing.min.js")*@
    <!-- Custom scripts for all pages-->
    <script src="~/Content/theme/js/sb-admin-2.min.js"></script>
    @*@Scripts.Render("~/theme/js/sb-admin-2.min.js")*@

    <!-- Page level plugins -->
    <script src="~/Content/theme/vendor/chart.js/Chart.min.js"></script>
    @*@Scripts.Render("~/theme/vendor/chart.js/Chart.min.js")*@

    <!-- Page level custom scripts -->
    <script src="~/Content/theme/js/demo/chart-area-demo.js"></script>
    @*@Scripts.Render("~/theme/js/demo/chart-area-demo.js")*@
    <script src="~/Content/theme/js/demo/chart-pie-demo.js"></script>
    @*@Scripts.Render("~/theme/js/demo/chart-pie-demo.js")*@

</body>
</html>