@model IEnumerable<EnglishCollege2024.Concepto>

@{
    ViewBag.Title = "ListaConceptos";
    //Layout = "~/Views/Concepto/ListaConcepto.cshtml";
}

<h2>Lista de Conceptos</h2>

<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" asp-controller="Concepto" asp-action="ListaConcepto">
    <div class="input-group">
        <input type="text" name="buscar" class="form-control bg-light border-0 small" placeholder="Buscar Concepto..."
               aria-label="Buscar" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit" value="Buscar">
                <i class="fas fa-search fa-sm"></i>
            </button>
            <div class="col-auto" style="margin-left: 360px">
                @Html.ActionLink("Crear Concepto", "Create", "", new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</form>
<br />
<br />
@*<div class="col-auto" style="margin-left: 550px">
    @Html.ActionLink("Crear Concepto", "Create", "", new { @class = "btn btn-primary" })
</div>
<br />
<br />*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
